<ion-header>
  <ion-toolbar mode="md" color="primary">
    <ion-title> {{type}} List </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="main-grid ion-no-padding">
    <div class="glob-container">
        <ion-list lines="none" style="margin-bottom: 0px">
          <ion-item>
            <ion-searchbar [(ngModel)]="term" placeholder="Name, Start Date, Status Date, IC"
              showCancelButton="focus">
            </ion-searchbar>
          </ion-item>
        </ion-list>
      
        <ion-virtual-scroll [items]="approves| fuse:term:options" approxItemHeight="80px" >
        <ion-item *virtualItem="let approve" button (click)="navigateToApprDetails(approve.ID)" style="padding-top: 1px">
          <ion-text>
            <h2>{{ approve.MANIC }}</h2>
            <p>Man Name: {{ approve.MANNAME }}</p>
            <p>Man Email: {{ approve.MANEMAIL }}</p>
            <p>Man Contact No.: {{ approve.MANTELNO }}</p>
            <h2>{{ approve.WOMANIC }}</h2>
            <p>Women Name:{{ approve.WOMANNAME }}</p>
            <p>Woman Email: {{ approve.WOMANEMAIL }}</p>
            <p>Woman Contact No.: {{ approve.WOMANTELNO }}</p>
            <p>Start Date For Apply: {{ approve.STARTDATE }}</p>
          </ion-text>
        </ion-item>
      </ion-virtual-scroll>
      
      </div>
      </ion-grid>

</ion-content>
