<ion-header>
  <ion-toolbar color="primary">
    <ion-button color="danger" fill="clear" (click)="logout()" slot="end">
    <ion-icon color="danger" size="large" name="log-out-outline"></ion-icon>
    </ion-button>
    <ion-title> <div>
      Welcome {{ username  }}!!!!
  </div></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row header class="ion-align-items-start ion-align-items-stretch">
    <ion-col size="9" offset="1" size-md="8" offset-md="8" size-lg="4" offset-lg="4">
        <ion-img src="assets/image/welcome.png"></ion-img>
      </ion-col>
  </ion-row>
</ion-content>





