  /* Content
    ===============================*/
    
.hr-custom {
    border: 2px solid;
    width: 100%;
    color: rgba(66, 58, 58, 0.479);
  }

  .text{
    font-weight: bold !important;
    font-size: 20px !important;
    color: blue;
  }