  
  /* Content
    ===============================*/
 
    .main-grid {
      padding-top: constant(safe-area-inset-top); //for iOS 11.2
      padding-top: env(safe-area-inset-top); //for iOS 11.1
      background: #1e2d85;
    }
  
  ion-grid {
    min-height: 100%;
  }

  /* Responsive for tablet
   ===============================*/
  @media (min-width: 576px) {
    ion-grid {
      position: relative;
    }
    .title-text-wrapper {
      margin: 30px 0 !important;
    }
    h1,
    h2 {
      line-height: 40px !important;
      font-size: 20px;
      text-align: left;
    }
    form {
      margin-top: 0 !important;
    }
  }

