<ion-header>
  <ion-toolbar color="primary" mode="md">
     <ion-title>Children Details</ion-title>
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
   </ion-toolbar>
 </ion-header>

<ion-content>
<div class="glob-container">
<ion-grid class="main-grid ion-no-padding">
  <ion-row>
    <ion-col size-xs="12" size-lg="4" size-md="7" offset-md="4">
      <ion-card *ngFor="let item of child">
        <ion-card-header>
          <ion-avatar class="profile-image">
            <img id="bg" [src]="item.IMAGE"
              onerror="this.src='assets/image/no_img.png'">
          </ion-avatar>
          <hr class="ion-margin-top ion-margin-button hr-custom" />
        </ion-card-header>
        <ion-card-content style="padding-top: 0px">
          <h2>Father Name:</h2>
          <h3 class="text-bold">{{ FATHERNAME }}</h3>
          <br>
          <h2>Mother Name:</h2>
          <h3 class="text-bold">{{ MOTHERNAME }}</h3>
          <br>
          <h2>Name:</h2>
          <h3 class="text-bold">{{ item.NAME }}</h3>
          <br>
          <h2>Identification Card No. (NRIC No.):</h2>
          <h3 class="text-bold">{{ item.IC }}</h3>
          <br>
          <h2>Birth Certificate No.:</h2>
          <h3 class="text-bold">{{ item.BIRTHCERNO }}</h3>
          <br>
          <h2>Gender:</h2>
          <h3 class="text-bold">{{ item.GENDER }}</h3>
          <br>
          <h2>Race:</h2>
          <h3 class="text-bold">{{ item.RACE }}</h3>
          <br>
          <h2>Religion:</h2>
          <h3 class="text-bold">{{ item.RELIGION }}</h3>
          <br>
          <h2>Birth Date:</h2>
          <h3 class="text-bold">{{ item.BDATE }}</h3>
          <br>
          <br>
         
        </ion-card-content>
      </ion-card>

</ion-col>
  </ion-row>
</ion-grid>
</div>
</ion-content>


