.text-bold {
  font-weight: bold !important;
}

  /* Error Message
   ===============================*/
   .error-message
   {
     color: red;
     font-size: 14px;
     margin-left: 10px;
     margin-top: 10px;
   }

  /* Settings input-field
        ===============================*/

        .CompulsoryMsg{
          color: red;
          font-size: 10 px;
          text-align : center;
          position: center;
        }